.footer {
  padding-bottom: 6.25rem;


  &__subscriber {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--blue);
    overflow: hidden;
    padding: 5.56rem 0;
    border: 2px solid var(--dark-blue);
    min-height: 28rem;

    .container-short {
      position: relative;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      background-image: url("../svg/bg-sharp.svg");
      background-size: 50% auto;
      background-position: 0 0;
      background-repeat: repeat;
      animation: slideBackground 25s linear infinite;
    }

    &-title {
      color: var(--black);
      text-align: center;
      font-family: Supply-Regular, sans-serif;
      font-size: 3.875rem;
      letter-spacing: -0.11625rem;
      text-transform: uppercase;
      margin-bottom: 1.88rem;
    }

    &-subtitle {
      color: var(--black-60);
      text-align: center;
      margin: 0 auto;
      max-width: 21rem;
      line-height: 130%;
      letter-spacing: 0.04125rem;
    }


    form {
      max-width: 27.5rem;
      margin: 2.5rem auto 0;
      position: relative;

      #input-arrow {
        position: absolute;
        right: calc(100% + 1rem);
        top: -1rem;
      }

      input {
        padding: 1.12rem;
        width: 100%;
        background-color: var(--dark-blue);
        border: 2px solid var(--Dark-blue);
        font-family: IBMPlexSans-Medium, sans-serif;
        font-size: 1.125rem;
        color: var(--black);
        position: relative;

        &:focus {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #7896FF;
          outline: var(--Dark-blue);
        }

        &::placeholder {
          color: var(--black-30);
        }

        &:active {
          color: var(--black);
          background-color: var(--dark-blue);
        }

        &.not-valid {
          border-bottom: 0.125rem solid #FF1F1F;
        }

      }



      .input-err {
        display: none;
        color: #FF1F1F;
        font-family: Supply-Regular, sans-serif;
        font-size: 0.875rem;
        line-height: 100%;
        letter-spacing: 0.02625rem;
        text-transform: uppercase;
      }

      button {
        margin-top: 0.94rem;
        width: 100%;
      }


    }

    &-letter {
      position: absolute;
      z-index: 1;
      top: 1.77rem;
      left: 1.77rem;
      max-width: 6.5rem;
      max-height: 6.5rem;
    }

    &-hello {
      position: absolute;
      z-index: 1;
      bottom: 2.5rem;
      right: 2.5rem;
      max-width: 6.5rem;
      max-height: 6.5rem;
    }

    &-success {
      display: none;
      position: absolute;
      z-index: 1;
      bottom: 2.5rem;
      right: 2.5rem;
      max-width: 6.5rem;
      max-height: 6.5rem;
    }


  }



  @keyframes slideBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  &-success {
    display: none;
    .footer__subscriber{
      &-title {
        max-width: 50rem;
        margin: 0 auto;
      }
      &-subtitle {
        max-width: 35.5rem;
        margin: 0 auto;
      }
    }
  }
}