.home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20vh 0;

  .container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 8rem;
    text-transform: uppercase;
  }

  &__description {

    font-size: 2rem;

    a {
      color: var(--blue);
    }
  }
}